services:
  web-admin:
    image: mosque-digital-clock-admin:latest
    ports:
      - "3011:3001"
    restart: always
    environment:
      - DATABASE_URL=mysql://mosque_user:Moalnyaho135@mariadb_server:3306/mosque_digitaldb
      - ADMIN_PASSWORD=admin123
    volumes:
      - /home/gie/workspace/mosque-digital-clock/apps/web-admin/public/uploads:/app/apps/web-admin/public/uploads
    networks:
      - shared_apps

  web-client:
    image: mosque-digital-clock-client:latest
    ports:
      - "3012:3000"
    restart: always
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3001
    networks:
      - shared_apps

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always
    networks:
      - shared_apps

networks:
  shared_apps:
    external: true
