services:
  web-admin:
    build:
      context: .
      target: admin
    image: mosque-digital-clock-admin:${IMAGE_TAG:-latest}
    ports:
      - "3011:3001"
    restart: always
    environment:
      - DATABASE_URL=mysql://mosque_user:Moalnyaho135@mariadb_server:3306/mosque-digitaldb
      - ADMIN_PASSWORD=admin123
      - NEXTAUTH_URL=https://mosque.homesislab.my.id
      - NEXT_PUBLIC_APP_URL=https://mosque.homesislab.my.id
    volumes:
      - /home/gie/workspace/mosque-digital-clock/apps/web-admin/public/uploads:/app/apps/web-admin/public/uploads
    networks:
      - shared_apps

  web-client:
    build:
      context: .
      target: client
    image: mosque-digital-clock-client:${IMAGE_TAG:-latest}
    ports:
      - "3012:3000"
    restart: always
    environment:
      - NEXT_PUBLIC_API_URL=https://mosque.homesislab.my.id
    networks:
      - shared_apps
  # prometheus:
  #   image: prom/prometheus:latest
  #   ports:
  #     - "9090:9090"
  #   volumes:
  #     - ./prometheus.yml:/etc/prometheus/prometheus.yml
  #   restart: always
  #   networks:
  #     - shared_apps

networks:
  shared_apps:
    external: true
